1. Create a List L that is defined as= [10, 20, 30, 40, 50, 60, 70, 80].

i. WAP to add 200 and 300 to L.

ii. WAP to remove 10 and 30 from L.

iii. WAP to sort L in ascending order.

iv. WAP to sort L in descending order.

In [1]:
L = [10, 20, 30, 40, 50, 60, 70, 80]

#(i)
L.append(200)
L.append(300)
print(L)

#(ii)
L.remove(10)
L.remove(30)
print(L)

#(iii)
L.sort()
print(L)

#(iv)
L.sort(reverse=True)
print(L)

[10, 20, 30, 40, 50, 60, 70, 80, 200, 300]
[20, 40, 50, 60, 70, 80, 200, 300]
[20, 40, 50, 60, 70, 80, 200, 300]
[300, 200, 80, 70, 60, 50, 40, 20]

2. Create a tuple of marks scored as scores = (45, 89.5, 76, 45.4, 89, 92, 58, 45) and
perform the following operations using tuple functions:

i. Identify the highest score and its index in the tuple.

ii. Find the lowest score and count how many times it appears.

iii. Reverse the tuple and return it as a list.

iv. Check if a specific score â€˜76â€™ (input by the user) is present in the tuple and
print its first occurrence index, or a message saying itâ€™s not present.

In [2]:
scores = (45, 89.5, 76, 45.4, 89, 92, 58, 45)

#(i)
max = scores[0]
index = 0
for i in range(len(scores)):
  if (scores[i] > max):
    max = scores[i]
    index = i

print(f'Highest score is {max} and it is present at index {index}')

#(ii)
lowest = min(scores)
count = scores.count(lowest)
print(f'Lowest score is {lowest} and its count in {count}')

#(iii)
L = list(reversed(scores))
print(f'Reversed tuple as list is {L}')

#(iv)
score = 76
if score in scores:
  idx = scores.index(score)
  print(f'{score} is present in the tuple at index {idx}')
else:
  print(f'{score} is not present in the tuple')

Highest score is 92 and it is present at index 5
Lowest score is 45 and its count in 2
Reversed tuple as list is [45, 58, 92, 89, 45.4, 76, 89.5, 45]
76 is present in the tuple at index 2

WAP to create a list of 100 random numbers between 100 and 900. Count and print
the:

i. All odd numbers

ii. All even numbers

iii. All prime numbers

In [3]:
import random

def isprime(num):
  if (num <= 1):
    return False
  for i in range(2, num):
    if (num % i == 0):
      return False
  return True

#Generating random numbers
numbers = []
for i in range(100):
  numbers.append(random.randint(100, 900))

odd = []
even = []
prime = []

#odd and even and prime
for number in numbers:
  if (number % 2 == 0):
    even.append(number)
  else:
    odd.append(number)
  if (isprime(number)):
    prime.append(number)

print(f'Odd numbers are {odd}')
print(f'Even numbers are {even}')
print(f'Prime numbers are {prime}')

Odd numbers are [407, 383, 565, 809, 681, 103, 587, 555, 825, 459, 537, 169, 115, 673, 735, 477, 853, 145, 673, 789, 815, 493, 397, 313, 431, 333, 339, 663, 403, 555, 463, 533, 497, 343, 107, 379, 215, 857, 571, 441, 371, 111, 189, 695, 123, 879, 877, 449, 801, 727, 103, 269, 519, 549, 683, 599, 385, 575, 255, 291]
Even numbers are [296, 216, 156, 364, 242, 358, 898, 806, 834, 426, 554, 170, 614, 250, 628, 170, 184, 488, 640, 776, 512, 810, 128, 456, 612, 226, 724, 528, 724, 808, 562, 172, 222, 112, 208, 618, 118, 786, 854, 646]
Prime numbers are [383, 809, 103, 587, 673, 853, 673, 397, 313, 431, 463, 107, 379, 857, 571, 877, 449, 727, 103, 269, 683, 599]

Consider the following two sets, A and B, represenÆŸng scores of two teams in mulÆŸple
matches. A = {34, 56, 78, 90} and B = {78, 45, 90, 23}
WAP to perform the following operaÆŸons using set funcÆŸons:

i. Find the unique scores achieved by both teams (union of sets).

ii. IdenÆŸfy the scores that are common to both teams (intersecÆŸon of sets).

iii. Find the scores that are exclusive to each team (symmetric difference).

iv. Check if the scores of team A are a subset of team B, and if team B's scores are
a superset of team A.

v. Remove a specific score ð‘‹ (input by the user) from set A if it exists. If not, print
a message saying it is not present.

In [4]:
A = {34, 56, 78, 90}
B = {78, 45, 90, 23}

#(i)
print(f'Union of sets is {A | B}')

#(ii)
print(f'Intersection of sets is {A & B}')

#(iii)
print(f'Symmetric Difference is {A ^ B}')

#(iv)
subset = A.issubset(B)
superset = A.issuperset(A)

if (subset):
  print('A is subset of B')
else:
  print('A is not subset of B')

if (superset):
  print('B is superset of A')
else:
  print('B is not superset of A')

#(v)
X = int(input('Enter a score to remove : '))
if X in A:
  A.remove(X)
  print(f'{X} has been removed from set A')
else:
  print(f'{X} is not present in set A')

Union of sets is {34, 45, 78, 23, 56, 90}
Intersection of sets is {90, 78}
Symmetric Difference is {34, 45, 23, 56}
A is not subset of B
B is superset of A
Enter a score to remove : 90
90 has been removed from set A

Write a program to rename a key city to a locaÆŸon in the following dicÆŸonary

In [5]:
sample = {
    "name" : "Kelly",
    "age" : 21,
    "salary" : 8000,
    "city" : "New York"
}

sample['location'] = sample.pop('city')

print(sample)

{'name': 'Kelly', 'age': 21, 'salary': 8000, 'location': 'New York'}